pyarrow
pandas
pyufunc
pytest
geocoder
coverage
sphinx
sphinx_rtd_theme
myst-parser
sphinx_copybutton
utdf2gmns
shapely
pyproj
geopandas
geopy
sumolib
matplotlib
keplergl
sumolib
setuptools<82  # Kepler.gl 0.3.7 imports pkg_resources.

